h1{
    color: blue;
}
body{
    background-color: lightblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: left;
}
p{
    color:red;
}
h1{
    text-align: center;
    font-size: 40px;
}
select{
    width:200px;
    height: 30px;
    cursor:pointer;
    border:3px solid black
}
button{
    background-color: royalblue;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 15px;
    transition: 1s;
}
#title{
    color: brown;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

input{
    border: 3px solid black;
    padding: 8px;
    margin-top: 2px;
}
button:hover{
    background-color: green;
    cursor:pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
input[type="radio"]{
    cursor:pointer;
    accent-color: royalblue;
    transform: scale(1:1);
}
input[type="date"]{
    cursor:pointer;
}
.container{
    display: flex;
    gap: 20px;
}
body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.box{
    width: 130px;
    height: 120px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    background-color: darkblue;
    cursor: pointer;
}
#html{
    background-color: red;
}
#css{
    background-color: blue;
}
#js{
    background-color: green;
}

.card{
    position: relative;
    width: 250px;
    height: 250px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 3%;
    transform: scale(1.2);
}
.follow{
    position: absolute;
    top: 10px;
    right: 10px;
    transition:transform 1s;
}

.follow:hover{
    
    transform:scale(1.5);
}   
.dept{
    color: gray;
    margin-top: 5px;
}
.name{
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
}