*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    background:whitesmoke;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
}

.container{
    width:420px;
    background:white;
    padding:25px;
    border-radius:15px;
    box-shadow:0 5px 20px lightgray;
}

h2{
    text-align:center;
    margin-bottom:20px;
    color:black;
}

input{
    width:70%;
    padding:10px;
    border-radius:8px;
    border:1px solid gray;
    outline:none;
}

button{
    padding:10px 15px;
    border:none;
    border-radius:8px;
    cursor:pointer;
    background:green;
    color:white;
    font-weight:bold;
    transition:.3s;
}

button:hover{
    background:darkgreen;
}

li{
    list-style:none;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:10px;
    margin-top:12px;
    background:gainsboro;
    border-radius:8px;
}

.completed{
    text-decoration:line-through;
    color:gray;
}

li span{
    flex:1;
    margin-left:10px;
}

li button{
    background:red;
}

li button:hover{
    background:darkred;
}

#emptyMessage{
    text-align: center;
    margin: 15px;
    color: gray;
    font-style:italic;
}